{% extends "parts/base.html" %}
{% load static %}

{% block content %}
    <!-- login -->
    <section class="wrap__section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Form Login -->
                    <div class="card mx-auto" style="max-width: 380px;">
                        <div class="card-body">

                            <h4 class="card-title mb-4">Reset password</h4>
                            {% if form.email.errors %}
    <div class="messages">
            <div class="message-box" style="background-color:#f8d7da;
                                             border: 1px solid #f5c6cb;
                                             color: #721c24;
                                             padding: 10px 15px;
                                             margin-bottom: 20px;
                                             border-radius: 4px;">
                {{ form.email.errors }}
            </div>
    </div>{% endif %}


                            <form method="POST">
                                {% csrf_token %}
                                
                                <div class="form-group">
                                  
                                    {{ form.email }}
                                </div> <!-- form-group// -->
                                
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block" id="loginButton"> Reset password </button>
                                </div> <!-- form-group// -->
                            </form>
                        </div> <!-- card-body.// -->
                    </div> <!-- card .// -->

                    
                </div>
            </div>
        </div>
    </section>
    <!-- end login -->

{% endblock content %}

