{% extends "parts/base.html" %} 
{% load static %} 
{% block style %}
body{margin-top:20px;} .mail-seccess { text-align: center; background: #fff;
border-top: 1px solid #eee; } .mail-seccess .success-inner { display:
inline-block; } .mail-seccess .success-inner h1 { font-size: 100px; text-shadow:
3px 5px 2px #3333; color: #006DFE; font-weight: 700; } .mail-seccess
.success-inner h1 span { display: block; font-size: 25px; color: #333;
font-weight: 600; text-shadow: none; margin-top: 20px; } .mail-seccess
.success-inner p { padding: 20px 15px; } .mail-seccess .success-inner .btn{
color:#fff; } 

{% endblock %} 
{% block content %} 
{% if validlink %}
<!--<p>Please enter (and confirm) your new password.</p>
    <form action="" method="post">
      {% csrf_token %}
      <table>
        <tr>
          <td>
            {{ form.new_password1.errors }}
            <label for="id_new_password1">New password:</label>
          </td>
          <td>{{ form.new_password1 }}</td>
        </tr>
        <tr>
          <td>
            {{ form.new_password2.errors }}
            <label for="id_new_password2">Confirm password:</label>
          </td>
          <td>{{ form.new_password2 }}</td>
        </tr>
        <tr>
          <td></td>
          <td>
            <input type="submit" value="Change my password" />
          </td>
        </tr>
      </table>
    </form>-->
<section class="wrap__section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Form Login -->
        <div class="card mx-auto" style="max-width: 380px">
          <div class="card-body">
            <h4 class="card-title mb-4">Change my password</h4>
            {% if form.new_password2.errors or form.new_password1.errors %}
            <div class="messages">
              <div
                class="message-box"
                style="
                  background-color: #f8d7da;
                  border: 1px solid #f5c6cb;
                  color: #721c24;
                  padding: 10px 20px;
                  margin-bottom: 20px;
                  border-radius: 4px;
                "
              >
                {{ form.new_password2.errors }}{{ form.new_password1.errors }}
              </div>
            </div>
            {% endif %}

            <form method="POST">
              {% csrf_token %}

              <div class="form-group">
                
                {{ form.new_password1 }}
              </div>
              <!-- form-group// -->
              <div class="form-group">
               
                {{ form.new_password2 }}
              </div>
              <!-- form-group// -->

              <div class="form-group">
                <button
                  type="submit"
                  class="btn btn-primary btn-block"
                  id="loginButton"
                >
                  Change my password
                </button>
              </div>
              <!-- form-group// -->
            </form>
            {% else %}
            <link
              href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
              rel="stylesheet"
            />
            <section class="mail-seccess section">
              <div class="container">
                <div class="row">
                  <div class="col-lg-6 offset-lg-3 col-12">
                    <!-- Error Inner -->
                    <div class="errors-inner">
                      <h1>
                        <i
                          class="fa fa-exclamation-triangle"
                          style="color: red"
                        ></i
                        ><span style="color: red; margin-left: 10px"
                          >Password reset failed</span
                        >
                      </h1>
                      <p>
                        The password reset link was invalid, possibly because it
                        has already been used. Please request a new password
                        reset.
                      </p>

                      <a
                        href="{% url 'base:home' %}"
                        class="btn btn-primary btn-lg"
                        >Go Home</a
                      >
                    </div>
                    <!--/ End Error Inner -->
                  </div>
                </div>
              </div>
            </section>

            {% endif %} 
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}