{% extends "parts/base.html" %}
{% load static %}
{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Breadcrumb -->
                    <ul class="breadcrumbs bg-light mb-4">
                        <li class="breadcrumbs__item">
                        <a class='breadcrumbs__url' href='{% url "base:home" %}'>
                            <i class="fa fa-home"></i> Home</a>
                    </li>
                    {% if query %}
                    <li class="breadcrumbs__item breadcrumbs__item--current">{{ query }}</li>
                    {% else %}
                    <li class="breadcrumbs__item{% if category %} breadcrumbs__item--current{% endif %}">
                        {% if not category %}
                        News<li class="breadcrumbs__item breadcrumbs__item--current">
                                                World
                                            </li>

                        {% endif %}
                        {% if category %}
                        <a class='breadcrumbs__url' href='{% url "base:articles_by_category"  category %}'>{{ category }}</a>
                        {% endif %}
                        {% endif %}
                    </li>

                
                    <button id="flash-span">
                        <i class="fa fa-list" aria-hidden="true"></i>
                    </button>

                    

                    </ul>
                    

                </div>

            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <aside class="wrapper__list__article ">
                        <h4 class="border_section">News world</h4>

                        {% for article in page_obj %}
                                <!-- Post Article List -->
                                <div class="card__post card__post-list card__post__transition mt-30">
                                    <div class="row ">
                                        <div class="col-md-5">
                                            <div class="card__post__transition">
                                                <a href="{% url 'base:article_detail' article.title article.aid %}">
                                                    <img src="{{article.image_url_video_url}}" class="img-fluid w-100" alt="{{article.title}}">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-7 my-auto pl-0">
                                            <div class="card__post__body ">
                                                <div class="card__post__content  ">
                                                    <div class="card__post__category ">
                                                        {{article.category}}
                                                    </div>
                                                    <span class="text-dark text-capitalize">
                                                                    {{article.date}}
                                                    </span>
                                                    
                                                    <div class="card__post__title">
                                                        <h5>
                                                            <a href="{% url 'base:article_detail' article.title article.aid %}">
                                                                {{article.title}}
                                                            </a>
                                                        </h5>
                                                        <p class="d-none d-lg-block d-xl-block mb-0">
                                                            {{ article.sub_description|slice:":132" }}...

                                                        </p>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                {% endfor %}
                        

                    </aside>
                </div>
                <div class="col-md-4">
                    <div class="sidebar-sticky">
                        <aside class="wrapper__list__article ">
                            <h4 class="border_section">recent post</h4>
                            <div class="wrapper__list__article-small">
                                
                                    <div class="mb-3">
                                        <!-- Post Article -->
                                        {% for article in two_articles %}
                                        <div class="card__post card__post-list">
                                            <div class="image-sm">
                                                <a href="{% url 'base:article_detail' article.title article.aid %}">
                                                    <img src="{{article.image_url_video_url}}" class="img-fluid" alt="{{article.title}}">
                                                </a>
                                            </div>


                                            <div class="card__post__body ">
                                                <div class="card__post__content">

                                                    <div class="card__post__author-info mb-2">
                                                        <ul class="list-inline">

                                                            <li class="list-inline-item">
                                                                <span class="text-dark text-capitalize">
                                                                    {{article.date}}
                                                                </span>
                                                            </li>

                                                        </ul>
                                                    </div>
                                                    <div class="card__post__title">
                                                        <h6>
                                                            <a href="{% url 'base:article_detail' article.title article.aid %}">
                                                                {{article.title}}
                                                            </a>
                                                        </h6>
                                                        <!-- <p class="d-none d-lg-block d-xl-block">
                    Maecenas accumsan tortor ut velit pharetra mollis. Proin eu nisl et arcu iaculis placerat
                    sollicitudin ut est. In fringilla dui dui.
                </p> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    
                                

                                <!-- Post Article -->
                                    {% for article in one_article %}
                                    <div class="article__entry">
                                        <div class="article__image">
                                            <a href="{% url 'base:article_detail' article.title article.aid %}">
                                                <img src="{{article.image_url_video_url}}" alt="{{article.title}}" class="img-fluid">
                                            </a>
                                        </div>
                                        <div class="article__content">
                                            <div class="article__category">
                                                {{article.category}}
                                            </div>
                                            <ul class="list-inline">

                                                <li class="list-inline-item">
                                                    <span class="text-dark text-capitalize">
                                                        {{article.date}}
                                                    </span>
                                                </li>

                                            </ul>
                                            <h5>
                                                <a href="{% url 'base:article_detail' article.title article.aid %}">
                                                    {{article.title}}
                                                </a>
                                            </h5>
                                            <p>
                                                {{ article.sub_description|slice:":132" }}...
                                            </p>
                                            <a href="{% url 'base:article_detail' article.title article.aid %}" class="btn btn-outline-primary mb-4 text-capitalize"> read
                                                more</a>
                                        </div>
                                    </div>
                                    {% endfor %}
                            </div>
                        </aside>

                            <!-- tags -->
                            <aside class="wrapper__list__article">
                                <h4 class="border_section">tags</h4>
                                <div class="blog-tags p-0">
                                    <ul class="list-inline">
                                        {% for tag in categories %}
                                        <li class="list-inline-item">
                                            <a href="{% url 'base:articles_by_category' tag %}">
                                                #{{tag}}
                                            </a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </aside>
                            <!-- end tags -->

                        <!-- newsletter -->
                            {% if not user.is_authenticated %}
                            <aside class="wrapper__list__article">
                                <h4 class="border_section">newsletter</h4>
                                <!-- Form Subscribe -->
                                <div class="widget__form-subscribe bg__card-shadow">
                                    <h6>
                                        The most important world news and events of the day.
                                    </h6>
                                    <p><small>Get magzrenvi daily newsletter on your inbox.</small></p>
                                    <form method="post" action="{% url 'base:register' %}">
                                        {% csrf_token %}
                                        <div class="input-group ">
                                            <input type="text" name="email" class="form-control" placeholder="Your email address" >
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" type="submit">sign up</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </aside>
                            {% endif %}
                        <!-- end newsletter 

                        <aside class="wrapper__list__article">
                            <h4 class="border_section">Advertise</h4>
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/banner2.jpg' %}" alt="" class="img-fluid">
                                </figure>
                            </a>
                        </aside>-->

                    </div>
                </div>
            </div>

            <!-- Pagination -->
    <div class="pagination-area">
        <div class="pagination wow fadeIn animated" data-wow-duration="2s" data-wow-delay="0.5s"
            style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
            {% if page_obj.has_previous %}
                <a href="?page=1">«</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="active" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'3' %}
        <a href="?page={{ num }}">{{ num }}</a>
    {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">»</a>
            {% endif %}
        </div>
    </div>

        </div>
    </section>
    <script>
    document.getElementById("flash-span").addEventListener("click", function() {
        window.location.href = "{% url 'base:all_news_custom' %}";
    });
    </script>


{% endblock content %}