	{% load static %}
	<!-- Header news -->
	<header class="bg-light">
		<!-- Navbar  Top-->
		<div class="topbar d-none d-sm-block">
			<div class="container ">
				<div class="row">
					<div class="col-sm-12 col-md-5">
						<div class="topbar-left">
							<div class="topbar-text" id="current-date">
							    <!-- This element will be populated with the current date -->
							</div>
							
							<script>
							    // Get the current date
							    var currentDate = new Date();
							
							    // Format the date as desired (e.g., "Monday, March 22, 2020")
							    var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
							    var formattedDate = currentDate.toLocaleDateString('en-US', options);
							
							    // Update the content of the div with the current date
							    document.getElementById('current-date').innerText = formattedDate;
							</script>
							
						</div>
					</div>
					<div class="col-sm-12 col-md-7">
						<div class="list-unstyled topbar-right">
							<ul class="topbar-link">
								{% if user.is_authenticated %}
								    <!-- Display username and logout link -->
									<li><a href="{% url 'base:about' %}" >About</a></li>
									<li><a href="{% url 'base:contact' %}" >Contact Us</a></li>
								    <li><a href="{% url 'base:logout' %}" title="">Logout</a></li>
								{% else %}
								    <!-- Display login/register link -->
									<li><a href="{% url 'base:about' %}" >About</a></li>
									<li><a href="{% url 'base:contact' %}" >Contact Us</a></li>
								    <li><a href="{% url 'base:login' %}">Login </a>/<a href="{% url 'base:register' %}"> Register</a></li>
								{% endif %}
							</ul>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Navbar Top  -->
		<!-- Navbar  -->
		<!-- Navbar menu  -->
		<div class="navigation-wrap navigation-shadow bg-white">
			<nav class="navbar navbar-hover navbar-expand-lg navbar-soft">
				<div class="container">
					<div class="offcanvas-header">
						<div data-toggle="modal" data-target="#modal_aside_right" class="btn-md">
							<span class="navbar-toggler-icon"></span>
						</div>
					</div>
					<figure class="mb-0 mx-auto">
						<a href='{% url "base:home" %}'>
							<img src="{% static 'images/logo.png' %}" alt="" class="img-fluid logo">
						</a>
					</figure>
					<div class="collapse navbar-collapse justify-content-between" id="main_nav99">
						<ul class="navbar-nav ml-auto ">
							<li class="nav-item dropdown">
								<a class="nav-link active " href="{% url 'base:home' %}" > Home </a>
								
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link " href="{% url 'base:all_news_default' %}" > News </a>

							</li>

							<li class="nav-item dropdown">
								<a class="nav-link active " href="{% url 'base:about' %}" > About </a>

							</li>

							<li class="nav-item"><a class='nav-link' href="{% url 'base:contact' %}"> contact </a></li>
						</ul>


						<!-- Search bar.// -->
						<ul class="navbar-nav ">
							<li class="nav-item search hidden-xs hidden-sm "> <a class="nav-link" href="#">
									<i class="fa fa-search"></i>
								</a>
							</li>
						</ul>
						<!-- Search content bar.// -->
						<div class="top-search navigation-shadow">
							<div class="container">
								<div class="input-group ">
									<form action="{% url 'base:search_results' %}" method="GET">
    <div class="row no-gutters mt-3">
        <div class="col">
            <input class="form-control border-secondary border-right-0 rounded-0"
                type="search" name="q" value="" placeholder="Search"
                id="example-search-input4">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-outline-secondary border-left-0 rounded-0 rounded-right">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</form>

								</div>
							</div>
						</div>
						<!-- Search content bar.// -->
					</div> <!-- navbar-collapse.// -->
				</div>
			</nav>
		</div>
		<!-- End Navbar menu  -->

		<!-- Navbar sidebar menu  -->
		<div id="modal_aside_right" class="modal fixed-left fade" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-dialog-aside" role="document">
				<div class="modal-content">
					<div class="modal-header">

						<div class="widget__form-search-bar  ">
							<form action="{% url 'base:search_results' %}" method="GET">
							<div class="row no-gutters">
								<div class="col">
									<input class="form-control border-secondary border-right-0 rounded-0" value=""
										placeholder="Search" name="q" >
								</div>
								<div class="col-auto">
									<button class="btn btn-outline-secondary border-left-0 rounded-0 rounded-right">
										<i class="fa fa-search"></i>
									</button>
								</div>
							</div>
							</form>
						</div>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<nav class="list-group list-group-flush">
							<ul class="navbar-nav ">
								<li class="nav-item dropdown">
    <a class="nav-link active text-dark" href="{% url 'base:home' %}"> Home </a>
</li>
<li class="nav-item dropdown">
    <a class="nav-link active text-dark" href="{% url 'base:all_news_default' %}"> News </a>
</li>
<li class="nav-item dropdown">
    <a class="nav-link active text-dark" href="{% url 'base:about' %}"> About </a>
</li>
<li class="nav-item">
    <a class="nav-link active text-dark" href="{% url 'base:contact' %}"> contact </a>
</li>

							</ul>

						</nav>
					</div>

				</div>
			</div> <!-- modal-bialog .// -->
		</div> <!-- modal.// -->
		<!-- End Navbar sidebar menu  -->
		<!-- End Navbar  -->
	</header>
	<!-- End Header news -->